/* Universal Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    background-color: rgb(0, 136, 70)  
} 
  
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: wavy;
}
/* Nav bar section */
#mobile-nav {
    display: none;
}
@media screen and (mid-width: 640px) {
    .flex container {
        display:flex;
    }
    
}

.nav-bar{
    flex:1;
    position: absolute;
    z-index: 2;
    width: 100%;
   
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    list-style: none; 
    height: 10vh;
    background-color: rgba(133, 132, 132, 0.5);
}
li a{
    display: block;
    color: rgb(202, 199, 199);
    text-decoration: wavy;
    font-size: 24px;
}


#name{
    color: black;
    font-size: 30px;
    font-weight: bold;

}

/* Hero section */
 .container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
} 

.image-contain {
    background-image: url(images/Turtles.jpeg); 
     background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display:flex;
    border-radius: 0 0px 15px 15px;
} 

.resume{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 9%;
    font-size: 30px;
    /* color: rgba(133, 132, 132, 1); */
    z-index: 2;
    border: 3px solid;
    padding: 25px;
}
.resume:hover {
    background-color: rgb(0,0,0,0.8);
    color: rgb(0, 255, 76);
}

/* Projects section */

.projects{
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.project-container {
   width: 100%;
   height: auto;
}
.project-header {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
/* projects flex box designs */
.horiseon{
    width: 50vh;
    height: 50vh;
    position: relative;
    border-radius: 10px;
    margin: 5vh;
     background-image: url(images/Horiseonscreenshot.jpeg); 
    background-size: cover;
    background-position: center;
}
.horiseon:hover{
    height: 500px;
}
.run-buddy{
    width: 50vh;
    height: 50vh;
    position: relative;
    border-radius: 10px;
    margin: 5vh;
    background-image: url(images/hero-bg.jpeg); 
    background-size:600px;
    background-position: center;
}
.run-buddy:hover{
    height: 500px;
}
 .text-container{
    position: absolute;
    height: 30px;
    width: 100%;
    z-index: 2;
    top: 0;
    background-color: rgba(133, 132, 132, 0.5);
    border-radius: 10px 10px 0 0;
    overflow: hidden; 
}
/* see about getting content to appear when hover over image instead of text */
/* .text-container:hover{
    height: vh;
} */